.embed-container {
  position: relative;
  height: 400px !important;
  overflow: hidden;
  max-width: 70%;
  margin: 160px auto 0;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@media(max-width:575px){
.embed-container {
    max-width: 90%;
    margin: 0 auto;
}
  
}